.layout {
    display: grid;
    /* grid-template-columns:  250px 1fr; sidebar + main */
    grid-template-rows: auto 1fr;     /* header + content */
    grid-template-columns: auto 1fr;     /* header + content */
    height: 100vh;
}
.head-container {
    grid-column: 1 / 3;
    /* grid-row: 1 / 2; */
    /* display: flex; */
    /* padding: 15px; */
    border: 1px solid black;
    background-color: lightblue;
}


/* SIDEBAR */
.side-div {
    /* grid-column: 1 / 2; */
    display: flex;
    /* padding: 15px; */
    /* border: 1px solid black; */
    /* background-color: lightblue; */
}

/* MAIN CONTENT */
.main-div {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 60px); /* full minus header */
  padding: 15px;
}

